!**/glob-import/dir/node_modules

.DS_Store
.DS_STORE
.idea
.pnpm-store

*.cpuprofile
*.local
*.log
*.log*
*.pyc
*.swp
*.swo
*~
.eslintcache
.flowconfig
.grunt
.iml
.module-cache
.SPEC_RUNNER.html
_SpecRunner.html
.zed

dist /

.env

.vscode
/.vscode/
/tmp
/.worktrees

build/
coverage/
dist
dist-ssr
explorations
node_modules
playground-temp
remote-repo/
temp

TODOs.md

chrome-user-data
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
scripts/flow/*/.flowconfig
test/the-files-to-test.generated.js

claude/*.local.*

docs/.vitepress/cache
/docs/.vitepress/cache
docs/.vitepress/.temp
/packages/vite/LICENSE
packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-fusebox/dist
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist

*.sublime-project
*.sublime-workspace